# .coveragerc to control coverage.py
[run]
branch = True
source = validate_pyproject
omit =
    */validate_pyproject/__main__.py
    */validate_pyproject/**/__main__.py
    */validate_pyproject/_vendor/*
plugins =
  coverage_conditional_plugin

[paths]
source =
    src/
    */site-packages/

[coverage_conditional_plugin]
omit =
  "sys_version_info < (3, 10)":
      "src/validate_pyproject/repo_review.py"

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
