{
    "properties": {
        "type": {"enum": ["A", "B"]}
    },
    "propertyNames": {
        "not": {
            "anyOf": [
                {"const": "*"},
                {"pattern": ".*", "minLength": 8}
            ]
        }
    },
    "additionalProperties": false,
    "required": ["type"]
}
# - # - # - #
properties:
  'type': {one of: ['A', 'B']}
non-predefined acceptable property names:
  (*NOT* the following):
    at least one of the following:
      - {predefined value: '*'}
      - {pattern: '.*', min length: 8}
additional properties: False
required: ['type']
